<!doctype html>
<title>More Analysis 3</title>

<body>
<h1> 10-K Analysis </h1>
<h2>Part I: Du Pont Analysis</h2>
<h3>Du Pont Formula</h3>	
<div> 
<img src="../static/Du_Pont_Formula.png" width=300px; height=180px;/>
</div>
<h3>Results</h3>
<div> 
<img src="../static/Du_Pont_Result.png" width=500px; height=300px;/>
</div>

<h2>Part II: Sentiment Analysis</h2>
<h3>Sentiment Analysis Flow Chart</h3>	
<div> 
<img src="../static/Sentiment_Analysis_Flowchart.png" width=350px; height=120px;/>
</div>
<h3>Results</h3>
<div> 
<img src="../static/Frequency.png" width=300px; height=180px;/>
</div>
<div> 
<img src="../static/wordcloud.png" width=300px; height=180px;/>
</div>


<form>
	<input Type="button" VALUE="Back Page" onClick="history.go(-1);return true;">
</form>

<form method='POST' action='/' >
   <p>
   <input type='submit' value='Done' /> 
   </p>
</form>

</body>
